/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cera Pro' !important;
  background-color: #fff;
}

a {
  text-decoration: none !important;
}

button {
  background-color: transparent;
  border: none;
  padding: 0 0;
}

.header {
  padding: 25px 0px 18px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  padding-bottom: 17px;
}

.header__wrapper i {
  font-size: 25px;
}

.nav__item {
  cursor: pointer;
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item:hover .nav__link {
  -webkit-text-stroke: 1px #3d3d3d;
}

.nav__item::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #46a358;
  display: inline-block;
  position: absolute;
  bottom: -26px;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav__item:hover::after {
  width: 100%;
}

.nav__link {
  color: #727272;
  padding-bottom: 20px;
}

.nav__link-act {
  font-weight: 700;
  color: #3d3d3d;
}

.nav__link-act:hover {
  font-weight: 200;
}

.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #46a358;
  display: inline-block;
}

.header__menu {
  display: none;
}

.header__menu i {
  font-size: 30px;
}

.header__btns {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__btns i {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__btns img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__btns i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__btns:hover {
  color: #46a358;
}

.header__btns:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__btns:nth-child(2) {
  margin-right: 25px;
}

.header__btns:nth-child(3) {
  background-color: #46a358;
  padding: 8px 20px;
  color: #fff;
  border-radius: 6px;
}

.header__btns:nth-child(3):hover {
  outline: 1px solid #46a358;
  color: #46a358;
  background-color: transparent;
}

.header__btns:nth-child(3):hover img {
  -webkit-filter: invert(48%) sepia(100%) saturate(2476%) hue-rotate(86deg) brightness(90%) contrast(119%);
          filter: invert(48%) sepia(100%) saturate(2476%) hue-rotate(86deg) brightness(90%) contrast(119%);
}

.header__card-count {
  position: absolute;
  right: 10px;
  top: 0;
  background-color: #46a358;
  padding: 7px;
  width: 5px;
  height: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 1010px) {
  .nav__item {
    margin-right: 10px !important;
  }
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
  }
  .header {
    padding: 20px 0;
  }
}

@media screen and (max-width: 775px) {
  .nav {
    display: none !important;
  }
  .header {
    padding: 20px 10px;
  }
  .header__btns {
    padding: 0 10px;
  }
  .header__btns:nth-child(2) {
    margin-right: 10px;
  }
  .header__btns:nth-child(3) {
    display: none;
  }
}

.hero {
  margin-bottom: 46px;
}

.hero__inner {
  height: 450px;
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
  padding: 68px 43px;
  position: relative;
}

.hero__info {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 7px;
}

.hero__title {
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 70px;
  margin-bottom: 5px;
}

.hero__green-title {
  color: #46a358;
}

.hero__text {
  color: #727272;
  width: 550px;
  font-size: 14px;
  margin-bottom: 44px;
}

.hero__link {
  background-color: #46a358;
  border-radius: 6px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 27px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hero__link:hover {
  outline: 1px solid #46a358;
  color: #46a358;
  background-color: transparent;
}

.hero__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-item::after {
  content: '';
  width: 0px;
  height: 0px;
}

.slide {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 18px;
  left: 45%;
}

.slide__icon {
  width: 8px;
  height: 8px;
  background-color: rgba(70, 163, 88, 0.3);
  display: inline-block;
  border-radius: 50%;
  margin-right: 8px;
}

.slide__icon:hover {
  background-color: #46a358;
}

.slide-active {
  background-color: #46a358;
}

@media screen and (max-width: 1210px) {
  .hero__text {
    width: 100%;
  }
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
  .hero__img {
    width: 400px;
  }
}

@media screen and (max-width: 780px) {
  .hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
    height: 550px;
  }
  .hero__img {
    width: 250px;
    height: 250px;
  }
  .hero__text {
    margin-bottom: 30px;
    font-size: 13px;
  }
  .slide {
    bottom: 5px;
  }
  .hero {
    padding: 0 10px;
  }
  .hero__title {
    font-size: 30px;
  }
}

.products__category {
  height: 774px;
  background-color: #fbfbfb;
  padding: 14px 24px 20px 18px;
}

.products__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.products__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 10px;
  margin-bottom: 36px;
}

.category__title {
  font-size: 15px;
  color: #3d3d3d;
}

.category__link {
  font-size: 15px;
  color: #3d3d3d;
}

.category__link:hover {
  color: #46a358;
}

.category-act {
  color: #46a358;
  -webkit-text-stroke: 0.5px #46a358;
}

.products__item {
  cursor: pointer;
  padding-bottom: 20px;
}

.products__item:hover .category__title {
  color: #46a358;
  -webkit-text-stroke: 0.5px #46a358;
}

.products__item:hover .category__link {
  color: #46a358;
  -webkit-text-stroke: 0.5px #46a358;
}
/*# sourceMappingURL=main.css.map */